footer li::marker {
    color: #2495fd;

}

footer {
    border-top: 15px solid #2495fd;
}

.section1 span {
    border-radius: 10rem;
    padding: 1rem;
}

.section2 p {
    font-size: 0.8rem;
}


.section3 {
    background-image: url(./assest/section3.png);
    background-repeat: no-repeat;
    background-size: cover;

}

.section3 form {
    border-radius: 1rem;
}

.section4 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0.5rem;
    width: 90%;
    margin: 5rem auto;
    height: 30rem;
    border-radius: 2rem;
    /* border: 1px solid black; */
}

.section4 .box1 {
    overflow: hidden;
    grid-column: 1/3;
    grid-row: 1/4;

}

.section4 img {
    width: 100%;
    height: 100%;
}

.section4 .box2 {
    grid-column: 3/4;
    grid-row: 1/2;
    height: 10rem;
}

.section4 .box3 {
    grid-column: 4/6;
    grid-row: 1/2;
    height: 8rem;

}

.section4 .box4 {
    grid-column: 3/5;
    grid-row: 2/4;

}

.section4 .box5 img {
    height: 10em;
    border-radius: 0rem 2rem 0rem 0rem;
}

.section4 .box6 {
    height: 10rem;
    overflow: hidden;
    border-radius: 0rem 0rem 2rem 0rem;
}

.section5 {
    background-image: url(./assest/scetion5.png);
    width: 100%;
    height: 35rem;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.section51 {
    /* border: 1px solid white; */
    height: 15rem;
    width: 70%;
    margin: 0rem auto;
    position: absolute;
    top: 10rem;
    left: 14rem;
    background-image: url(./assest/scetion5.png);
    background-size: cover;
}

.section5 .btn {
    border-radius: 1rem 1rem 0rem 0rem;
}

.section5 .contain {
    border: 1px solid white;
    width: 100%;
    height: 4.5rem;
    border-radius: 1rem;
    background-color: white;
}

.contain label {
    font-size: 0.8rem;
    font-weight: bold;
}

.contain input {
    width: 95%;
}




/* property css */

.properyDIv3{
    background-color:rgba(165, 164, 161, 0.397);
}

.properyDIv3 li{
    margin-bottom: 1rem;
    color: black;
}
.properyDIv3 .h4Div{
    border-radius: 0.5rem;
}
.properyDIv3 ul{
    list-style: none;
}
.properyDIv3 i{
    margin-right: 1rem;
}