footer li::marker{
    color:#2495fd;
    
}

footer{
    border-top: 15px solid #2495fd;
}

.section1 span{
    border-radius: 10rem;
    padding: 1rem;
}
.section2 p{
    font-size: 0.8rem;
}
.section3{
    background-image: url(./assest/section3.png);
    background-repeat: no-repeat;
    background-size: cover;

}

.section3 form{
    border-radius: 1rem;
}